#filter-form {
    width:30%;
    box-sizing: border-box;
    padding:14px;
    
    
    .row{
        margin-bottom:12px;
        width: 100%;
        position: relative;
        label{
            display: block;
            text-align: left;
            margin-bottom:6px;
            
        }
        input[type="text"],
        select, input[type="number"], input[type=email], input[type=password]{
            width: 100%;
            padding:8px;}
        
        
        }
        .range{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            input{
                width:45%;
            }
        }
        .options{
            .option{
                align-items: center;
                display: flex;
                gap:4px;
                input,label{
                    margin:0px;
                    display: inline-block
                }
            };
        }
        .display-inline-block{
            display: inline-block !important;
            text-align: left;
        }
        .d-block{
            display: block;
        }

}